/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
*/

@font-face {
  font-family: 'TheSansRegular';
  src: url('fonts/TheSans-B5Plain.woff2') format('woff2'), url('fonts/TheSans-B5Plain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSansSemibold';
  src: url('fonts/TheSans-B6SemiBold.woff2') format('woff2'), url('fonts/TheSans-B6SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSansBold';
  src: url('fonts/TheSans-B7Bold.woff2') format('woff2'), url('fonts/TheSans-B7Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSansExtraBold';
  src: url('fonts/TheSans-B8ExtraBold.woff2') format('woff2'), url('fonts/TheSans-B8ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}